<body class="landing-page">
  <div class="container" id="landing">
      <div id="hero">
        <%= image_tag "mars_attacks.jpg", size:"400x400", class:'circular' %>
      </div>
      <div id="welcome-form" class="home-white-form">
        <div class="home-buttons text-center">
            <h4><%= link_to 'Inscription', new_user_registration_path, class:'home-button signup' %></h4>
          <hr>
            <h4><%= link_to 'Connexion', new_user_session_path, class:'home-button' %></h4>
        </div>
          
        
      </div>
  </div>


  
</body>
