
.landing-page {

  background: #2C3E50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C3E50 , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  height: 100vh;
  margin: 0;
  padding: 0;
}

#landing {
  position: relative;
  width: 70%;
  margin: 5% auto;
  display: flex;
  border-radius: 14px;
  border: 1px solid #2C3D53;
  box-shadow: 5px 5px 3px rgb(25, 29, 33);
  background-color: #242A3C;

}
#hero {
  width: 50%;
  display: flex;
  align-items:center;

}
.home-white-form {
  color: white;
}

#hero img {
  margin: 0 auto;
}
#welcome-form {
  width: 50%;
  margin: 2px auto;
  padding : 0px 10px;

}
.home-button {
  border-radius: 20px;
  padding: 3px 6px;
}

.signup {
  background-color: #14e2d1;
  color: #2C3D53;
  box-shadow: 5px 3px 8px rgb(25, 29, 33);
}