/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


 .test-index-panel {
   padding-bottom: 20px;
   padding-top: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;

 }

 .test-index-panel li {
   
   padding: 5px 5px;
   margin: 5px 5px;

 }
  
  .test-index-panel li a {
    color: red;
  }

 #card-cat {
   display: flex;
   align-items: center;
   

 }


.list-vertical {

  list-style: none;
}

.list-vertical li {
  padding: 15px 0px;
  margin-bottom: 10px;
  margin-top: 10px;

}


#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
 
}

#tag_cloud {
   margin: 20px 5px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}





// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
