/*BUTTONS*/

.round-green-btn {
  border-radius: 20px;
  padding: 3px 6px;
  font-weight: 300;
  &:hover {
    background-color: #14e2d1;
    color: #2C3D53;
    box-shadow: 5px 3px 8px rgb(25, 29, 33);
    border: 1px solid #2C3D53;
  }
}
.btn-blue {
  border-radius: 20px;
  border: 1px solid #59C8E2;
  color: #59C8E2;
  padding: 10px 15px;
  background: transparent;

}

.btn-small {
  
  padding: 2px 2px;
  margin: 0px 5px;
  font-size: 1em;
  
}

.btn-orange {
  border-radius: 20px;
  border: 1px solid #FBB31B;
  color: #FBB31B;
  padding: 10px 15px;
  background: transparent;
}

.btn-orange-small {
  border-radius: 20px;
  border: 1px solid #FBB31B;
  color: #FBB31B;
  padding: 2px 2px;
  margin: 0px 5px;
  background: transparent;
  font-size: 1em;
}

.btn-green {
  color: #26A65B;
  border-radius: 20px;
  border: 1px solid #26A65B;
  padding: 10px 15px;
  background: transparent;

}

.btn-green-small {
  color: #26A65B;
  border-radius: 20px;
  border: 1px solid #26A65B;
  padding: 2px 2px;
  margin: 0px 5px;
  background: transparent;
  font-size: 1em
}

.all-btn:hover {
  background-color: #FBB31B;
  color: #333B41 ;

}

.btn-orange, .btn-green {

  box-sizing: border-box;
  transition: all 500ms ease; 
}

.fa-trash-o, .fa-pencil {
  box-sizing: border-box;
  transition: all 500ms ease; 
  &:hover {
    color: #14e2d1;
  }

}