/*BUTTONS*/
.btn-blue {
  border-radius: 4px;
  border: 1px solid #59C8E2;
  color: #59C8E2;
  padding: 10px 15px;
  background: transparent !important;
  &:hover {
   background-color: #59C8E2 !important;
   border: none;
   color: #333B41;
  }

}

.btn-small {
  
  padding: 2px 2px;
  margin: 0px 5px;
  font-size: 1em;
  
}

.btn-orange {
  border-radius: 4px;
  border: 1px solid #FBB31B;
  color: #FBB31B;
  padding: 10px 15px;
  background: transparent !important;
}

.btn-orange-small {
  border-radius: 4px;
  border: 1px solid #FBB31B;
  color: #FBB31B;
  padding: 2px 2px;
  margin: 0px 5px;
  background: transparent !important;
  font-size: 1em;
  &:hover {
   background-color: #FBB31B !important;
   border: none;
   color: #333B41;
  }
}

.btn-green {
  color: #26A65B;
  border-radius: 4px;
  border: 1px solid #26A65B;
  padding: 10px 15px;
  background: transparent !important;

}

.btn-green-small {
  color: #26A65B;
  border-radius: 4px;
  border: 1px solid #26A65B;
  padding: 2px 2px;
  margin: 0px 5px;
  background: transparent !important;
  font-size: 1em
}

.all-btn:hover {
  background-color: #FBB31B !important;
  color: #333B41 !important;
  border: none !important;
}

.btn-orange:hover {
  border: 1px solid #59C8E2;
  color: #59C8E2;
}

.btn-blue:hover {
  border: 1px solid #FBB31B;
  color: #FBB31B;
}
