
// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

@import 'https://fonts.googleapis.com/css?family=Catamaran:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

.panel {
  background-color: #333B41;
  padding: 10px;
  margin: 15px auto;
  box-shadow: 1px 1px 3px rgb(25, 29, 33);
}

.space-updown {
  padding-top: 15px;
  padding-bottom: 15px;
}

.space-right-left {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-blue {
  border-radius: 4px;
  border: 1px solid #59C8E2;
  color: #59C8E2;
  padding: 10px 15px;
  background: transparent !important;

}

.btn-blue-small {
  border-radius: 4px;
  border: 1px solid #59C8E2;
  color: #59C8E2;
  padding: 2px 2px;
  margin: 0px 5px;
  background: transparent !important;
  font-size: 1em;
  &:hover {
   background-color: #59C8E2 !important;
   border: none;
   color: #333B41;
  }



}
.index-questions {

}

.index-answers {

}

.index-tag {
  font-size: 1.1em;
  color: white;
}

.test-index-panel {
  padding-bottom: 20px;
  padding-top: 20px;
}

.test-index-panel li {
  display: inline;
  padding: 5px 5px;
  margin: 5px 5px;
}
.btn-orange {
  border-radius: 4px;
  border: 1px solid #FBB31B;
  color: #FBB31B;
  padding: 10px 15px;
  background: transparent !important;
}

.btn-orange-small {
  border-radius: 4px;
  border: 1px solid #FBB31B;
  color: #FBB31B;
  padding: 2px 2px;
  margin: 0px 5px;
  background: transparent !important;
  font-size: 1em;
  &:hover {
   background-color: #FBB31B !important;
   border: none;
   color: #333B41;
  }
}

.btn-green {
  color: #26A65B;
  border-radius: 4px;
  border: 1px solid #26A65B;
  padding: 10px 15px;
  background: transparent !important;

}

.btn-green-small {
  color: #26A65B;
  border-radius: 4px;
  border: 1px solid #26A65B;
  padding: 2px 2px;
  margin: 0px 5px;
  background: transparent !important;
  font-size: 1em
}

.list-vertical {

  list-style: none;
}

.list-vertical li {
  padding: 15px 0px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.tag {
  border-radius: 4px;
  border: 1px solid #FBB31B;
  color: #333b41;
  padding: 2px 3px;
  background: #FBB31B !important;

}
#question {
  border-radius: 2px;
  border: 4px solid #FBB31B;
  color: #FBB31B;
  padding: 5px;


}

#answer-block {
  color: #59C8E2;
  font-size: 4em;
}

.glyphicon-eye-open {
  color: #59C8E2;
  font-size: 4em;
}
span#content {
    display:none;
}
input#answer:checked ~ span#content {
  display:block;
}

.all-btn:hover {
  background-color: #FBB31B !important;
  color: #333B41 !important;
  border: none !important;
}

.btn-orange:hover {
  border: 1px solid #59C8E2;
  color: #59C8E2;
}

.btn-blue:hover {
  border: 1px solid #FBB31B;
  color: #FBB31B;
}

#left-container {
  width: 25%;
  float: left;
  display: block;
  min-height: 500px;

}

#right-container {
  width: 70%;
  float: right;
  display: block;
  min-height: 500px;
}

.clear {
  clear: both;
}

body {
  background-color: #2F373C;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  }

h1 {
  font-size: 3em;
  color: #FBB31B;
}

h2 {
  font-size: 2.5em;

}

h3 {
  font-size: 2.1em;

}

h1, h2, h3 {
  font-family: 'Catamaran', sans-serif;
}

a {
  color: #59C8E2;
  text-decoration: none !important;
}

input {
    display:none;
}

/* Extra Small */
@media(max-width:767px){
  #left-container {
    float: none;
    display: inline;
  }

  .list-vertical li {
    display: inline-block;

  }


  #right-container {
    float: none;
    display: inline;
  }
  .clear {
    clear: none;
  }
}

/* Small */
@media(min-width:768px) and (max-width:991px){}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}
